<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Javascript - Formulaires</title>
        <link rel="stylesheet" href="../" />
    </head>
    <body>
        <div>
            <h1>Les formulaires en javascript</h1>
            <form id="form-login">
                <div>
                    <label for="name">nom</label>
                    <input type="text" id="name" name="name" autofocus />
                </div>

                <div>
                    <label for="email">email</label>
                    <input type="email" id="email" name="email" />
                </div>

                <input type="submit" value="Envoyer" />
            </form>
        </div>
        <div id="errors"></div>
        <div id="success"></div>
        <script src="../js/lesson/20-formulaire.js"></script>
    </body>
</html>
