<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Javascript - Text</title>
    </head>
    <body>
        <div id="example">
            <p>Je suis un <strong>texte</strong> d'exemple.</p>
        </div>

        <script>
            const example = document.querySelector('#example');

            console.log(example.textContent); // renvoie : "Je suis un texte d'exemple."
            console.log(example.innerHTML); // renvoie : "<p>Je suis un <strong>texte</strong> d'exemple.</p>"
            console.log(example.innerText); // renvoie : "Je suis un texte d'exemple."
        </script>
    </body>
</html>
